<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      Button 2
    </div>
    <div class="col-sm">
      Button 3
    </div>
    <div class="col-sm">
      Button 4
    </div>
  </div>
</div>
<router-outlet></router-outlet>